
/* ==========================================================================
Global Styles
========================================================================== */
html, body {
  width:  100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}
.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  /*top: 83px;
  height: calc(100% - 83px);*/
}
.nav-container {
  width: 1440px !important;
  padding-left: 42px !important;
  padding-right: 42px !important;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.clear-space {
  clear: both;
  height: 40px;
}
.clear-space-20-1 {
  clear: both;
  height: 20px;
  display: none;
}
.clear-space-20-2 {
  clear: both;
  height: 20px;
  display: none;
}
a {
  /*color: #3D4351;*/
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color; }

a:hover, a:focus {
  outline: 0 !important;
  color: #0E351E;
  text-decoration: none; }

body {
  font-family: 'Titillium Web', sans-serif;
  color: #444;
  -webkit-text-size-adjust: 100%;
  background: #fbfbf9; }

.blog{
    list-style: disc;
    margin-left:10px;
    font-size:16px;
  }

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }


.section-padding {
  padding: 40px 0;
}
.loop-section-padding {
  padding: 20px 0 40px 0;
}
.loop-section-padding h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#top {
  /*background: url("../assets/bg_hero.jpg") center center;*/
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


/* ==========================================================================
Navigation
========================================================================== */
.header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }
.open a {
  color: #fff !important;
}
/*header .open ul.primary-nav li {
  margin-bottom: 0;
}
header .open ul.primary-nav li a {
  padding: 10px 25px;
  height: 60px;
}
header .open ul.primary-nav li a:hover {
  background: none;
}
header .open ul.primary-nav li.menu-active a {
  font-weight: 700;
  color: #2cbeff !important;
  border-bottom: none;
}*/

.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 5px 0;
  cursor: pointer;
  margin-top: 14px; }

.nav-toggle:focus {
  outline: none; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  border-radius: 1px;
  background: #152235;
  cursor: pointer; }

.nav-toggle span:before {
  top: -10px; }

.nav-toggle span:after {
  bottom: -10px; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.nav-toggle.active span {
  background-color: transparent; }
.nav-toggle.active span:before, .nav-toggle.active span:after {
  background: #fff !important; }

.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0; }

.nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-toggle.active span:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg); }

.navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 18px;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }

/* ==========================================================================
Hero
========================================================================== */
#index-container {
  overflow-y: scroll;
  top: 83px;
  height: calc(100% - 83px);
}

#index-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	border-radius: 10px;
	background-color: rgba(0,0,0,0);
}

#index-container::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(0,0,0,0);
}

#index-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	background-color: #555;
}

.container-responsive {
  margin-top: 80px;
  margin-bottom: 0;
}
.container-responsive-index {
  margin-top: 0 !important;
  padding: 0 !important;
  /*background: none !important;*/
}
.container-responsive-index-img {
  width: 100%;
  height: 100%;
  position: relative;
}
video#bgvid{
  position: relative;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
  background-attachment: fixed;
}
/*.overlay {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  margin: 140px 0 0 90px;
}*/
.container-responsive h1 {
  font-size: 48px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: 1.2px;
  color: #FE3535;
  text-shadow: 0 2px 4px rgba(21, 34, 53, 0.3);
  margin-top: 100px;
}
.container-responsive p {
  font-size: 22px;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: #000000;
}
.out-section h1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: #152235;
  margin-top: 40px;
}
.out-section h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: #3f4147;
}
.out-section h4 {
  font-size: 18px;
  color: #152235;
  font-weight: 700;
  line-height: 1.2em;
  margin: 29px 0 20px 0;
}
.out-section p {
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.4px;
  color: #3f4147;
  margin-top: 20px;
}
.blue-line {
  width: 40px;
  border-bottom: solid 1px #FE3535;
  margin: 40px 0;
}
.blue-line-center {
  width: 40px;
  border-bottom: solid 1px #1e92c6;
  margin: 10px auto;
}
.blue-line-22 {
  width: 40px;
  border-bottom: solid 1px #1e92c6;
  margin: 22px 0;
}
.blue-line-30 {
  width: 40px;
  border-bottom: solid 1px #1e92c6;
  margin: 30px 0;
}
.blue-line-30-100 {
  width: 100%;
  border-bottom: solid 1px #1e92c6;
  margin: 30px 0;
}
.gray-line {
  width: 40px;
  border: solid 1px #f9f9f9;
}
.product-bg {
  height: 360px;
  /*background: url("../assets/product_bg.jpg") center center;*/
  background-size: cover;
  position: relative;
}
.research-bg {
  height: 360px;
  /*background: url("../assets/research_bg.jpg") center center;*/
  background-size: cover;
  position: relative;
}
.news-bg {
  height: 360px;
  /*background: url("../assets/news_bg.jpg") center center;*/
  background-size: cover;
  position: relative;
}
.team-bg {
  height: 360px;
  /*background: url("../assets/team_bg.jpg") center center;*/
  background-size: cover;
  position: relative;
}
.careers-bg {
  height: 360px;
  /*background: url("../assets/careers_bg.jpg") center center;*/
  background-size: cover;
  position: relative;
}
.about-bg {
  height: 360px;
  /*background: url("../assets/about_bg.jpg") center center;*/
  background-size: cover;
  position: relative;
}
.about-bg h1 {
  letter-spacing: 0.8px;
  margin-top: 60px;
}
.about-bg p {
}
.team-bg h1 {
  letter-spacing: 0.8px;
  margin-top: 70px;
}
.team-bg p {
  margin-top: 20px;
}
.product-bg h1 {
  letter-spacing: 0.8px;
  margin-top: 112px;
}
.research-bg h1 {
  letter-spacing: 0.8px;
  margin-top: 40px;
}
.research-bg p {
}
.news-bg h1 {
  letter-spacing: 0.8px;
  margin-top: 110px;
}
.news-bg p {
  margin-top: 20px;
}
.careers-bg h1 {
  letter-spacing: 0.8px;
  margin-top: 88px;
}
.careers-bg p {
}
.product-bg h1, .research-bg h1, .news-bg h1, .about-bg h1, .careers-bg h1, .team-bg h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 200;
  line-height: 1.5; }
.product-bg p, .research-bg p, .news-bg p, .about-bg p, .careers-bg p, .team-bg p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.44; }
.global-white-bg {
  background: #ffffff;
}
.white-section-research {
  padding: 10px 0;
  margin-top: -1px;
  background-color: #ffffff;
  border-top: solid 0.5px rgba(219, 219, 225, 0.99);
  border-bottom: solid 0.5px rgba(219, 219, 225, 0.99);
}
.white-section-research a {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  float: right;
  color: #152235;
  display: block;
  margin-top: 40px;
}
.white-section-research a img {
  margin: -4px 5px 0 0;
}
.white-section-research a.careers-more {
  margin-top: 20px !important;
}
.white-section-research .col-xs-10, .white-section-research .col-xs-2 {
  padding: 0;
}
.white-section-news {
  padding: 0;
  margin-bottom: 29px;
  margin-top: -1px;
  background-color: #ffffff;
  border-top: solid 0.5px rgba(219, 219, 225, 0.99);
  border-bottom: solid 0.5px rgba(219, 219, 225, 0.99);
}
.white-section-news img {
  width: 100%;
}
.bg-gray {
  background: none !important;
}
.about-section p {
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.4px;
  font-weight: 400;
  color: #3f4147;
  margin-top: 30px;
}
.about-contact p {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #152235;
}
.about-contact p.spe-p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.6px;
  margin-top: 20px;
  color: #3f4147 !important;
}
.about-contact p.spe-p span {
  margin: 0 30px;
  opacity: 0.5;
}
.v-l {
  opacity: 0.5;
}
.about-contact p i {
  margin-right: 10px;
}
.about-contact img {
  height: 30px;
  margin-right: 5px;
}
.about-contact ul {
  margin-top: 20px;
}
.about-contact ul li {
  display: inline-block;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: #3f4147;
}
.about-contact ul li:first-child {
  margin-left: 0;
}
.about-contact ul.sns-li {
  margin-top: -5px;
}
.about-contact ul.sns-li li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 0 !important;
}
.about-contact ul.sns-li li img {
  height: 35px;
  margin-top: -6px;
}
.res-section h4 {
  margin: 30px 0 18px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.44;
  color: #3f4147;
}
.res-li li {
  padding: 12px 0;
  border-bottom: 0.5px solid rgba(219, 219, 225, 0.99);
}
.res-li li:first-child {
  border-top: 0.5px solid rgba(219, 219, 225, 0.99);
}
.res-li h2 {
  display: inline-block !important;
  font-size: 22px !important;
  font-weight: 300 !important;
  line-height: 1.5 !important;
  letter-spacing: 0.6px !important;
  color: #3f4147;
  height: auto;
  border-bottom: 1px solid rgba(30,146,198,0);
  margin: 0 !important;
}
.res-li h2 span:hover {
  border-bottom: 0.5px solid #2cbeff;
}
.res-li h2.h2-no-ul span:hover {
  border-bottom: none;
  /*color: #1e92c6;*/
}
.res-li h4 {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.3px;
  color: #152235;
  margin: 10px 0 6px 0;
}
.res-li p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.64;
  letter-spacing: 0.4px;
  color: #3f4147;
  margin: 0 !important;
}
.p-cate {
  font-size: 13px;
  color: #59595b;
}
.p-name {
  font-size: 13px;
  color: #8d8d92;
}
.p-name-news {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 25px;
  font-size: 13px;
  color: #8d8d92;
}
.h-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  color: #152235;
}
.news-date {
  font-size: 14px;
  color: #8d8d92;
  margin: 12px 0 !important;
}
.news-h-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.25;
  color: #152235;
  margin: 20px 0;
}
a.news-rd {
  display: block;
  float: right;
  margin: 20px 20px 0 0;
}
.p-careers-contact {
  font-size: 22px !important;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: #3f4147;
  margin-bottom: 20px;
}
.p-careers-contact img {
  width: 36px;
  margin-right: 10px;
  margin-top: -5px;
}
.p-careers-contact span {
  color: #2cbeff;
  font-weight: 300;
}
.p-careers-contact a span:hover{
  border-bottom: 0.5px solid #2cbeff;
}
.team-section  {
  margin-top:20px;
}
.team-section a {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.44;
  text-align: center !important;
  display: block;
  color: #152235;
  margin-top: 20px;
}
.team-section a:hover {
  color: #1e92c5;
}
.team-section a span {
  margin-top: 20px;
  display: block;
}
.team-section p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.64;
  letter-spacing: 0.4px;
  text-align: center;
  color: #3f4147;
}
.team-section a img {
  width: 100%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
}
.team-section a img:hover~img.over-plus {
    display: block;
    opacity: 1;
}
.team-section a img.over-plus {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 180px 23px 0 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  box-shadow: none;
}
.team-ab a img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
}
.team-ab a img:hover~img.over-plus {
    display: block;
    opacity: 0;
}
.team-ab a img.over-plus {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 110px 50px 0 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  box-shadow: none;
}
.team-section .row {
  margin: 0;
  margin-bottom: 27px;
}
.team-modal-photo img {
  width: 100% !important;
}
body.modal-open {
  overflow-y: scroll;
}
.modal-backdrop {
  background: #152235;
}
.modal-dialog {
  margin-top: 80px;
}
.modal-header {
  color: #4F576C;
  border-bottom: none;
}
.modal-content {
  border-radius: 0;
  background: #ffffff;
}
.modal-b-left {
  width: 360px;
  margin: 0 38px 0 35px;
  float: left;
}
.modal-b-right {
  width: 650px;
  margin-right: 20px;
  float: right;
}
.modal-lf {
  margin-right: 40px;
  float: left;
}
.modal-rt {
  float: left;
}
.modal-lf img {
  margin-right: 10px;
}
.modal-rt img {
  width: 70% !important;
}
.modal-lf-pos {
  width: 50%;
  float: left;
}
.modal-rt-pos {
  width: 40%;
  float: right;
}
.modal-lf-pos img {
  width: 400px !important;
}
.modal-rt-pos img {
  width: 388px !important;
}
.img-width-600 {
  width: 80% !important;
}
.modal-body img {
  width: 100%;
  margin-top: 5px;
}
.modal-body h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: #3f4147;
}
.modal-body h4 {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: #3f4147;
}
.modal-body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.4px;
  color: #3f4147;
}
.modal-body .modal-h-icon {
  height: 36px;
  width: 36px;
  margin: 5px 10px 15px 0px;
}
.modal-list {
  border-spacing: 5px;
}
.modal-list i{
  margin: 0;
}
.modal-list .modal-list-icon {
  font-size: 22px;
  padding: 15px;
  vertical-align: top;
}
.modal-list .modal-list-text {
  font-size: 16px;
  padding: 15px 15px 15px 0;
}
.icon-li{
  color: #1e92c6;
}

.modal-product {
  margin: 0 40px;
}
.modal-product h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: #152235;
}
.modal-product h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.3px;
  color: #152235;
}
.modal-product p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.44;
  letter-spacing: 0.4px;
  color: #3f4147;
}
.modal-product p.p-obtain {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: #3f4147;
}
.modal-product p.p-obtain a {
  color: #1d7fb9;
}
.ab-modal img {
  width: 180px;
  margin-left: 90px;
}
.close {
  font-weight: 200 !important;
  color: #152235 !important;
  opacity: 1;
}
ul.team-sns {
  text-align: center;
  margin: 40px 0;
}
ul.team-sns li {
  display: inline-block;
  margin-right: 15px;
}

.product-op2 {
  height: 575px;
  padding: 20px;
  margin-bottom: 29px;
  background: #ffffff;
  border: solid 0.5px rgba(190, 190, 190, 0.99);
  position: relative;
}
.product-op2 h1 {
  font-size: 30px;
  font-weight: 700;
  color: #152235;
}
.product-op2 ul {
  margin: 40px 0 0 20px;
}
.product-op2 ul li {
  list-style-type: circle;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  color: #152235;
}
.product-op2 a {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px 0;
}
.pt-m {
  margin-left: -1px;
}
.pt-e {
  margin-left: -1px;
}
.nav-tabs {
  border: none !important;
}
.nav-tabs span {
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0 0 10px 1px rgba(153, 153, 153, 0.15);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.86;
  text-align: center;
  color: #152235;
  margin-right: 20px;
  padding: 12px 20px;
  cursor: pointer;
}
.nav-tabs li.active span {
  color: #ffffff;
  background: #152235;
}
.no-padding-15 {
  padding: 0;
}
.col-cus-3 {
  float: left;
  margin-left: 60px;
  width: 350px;
}
.col-cus-3 h4 {
  margin: 30px 0 20px 0 !important;
}
.col-cus-first {
  margin-left: 0;
}
.career-li li {
  padding: 12px 0;
  border-bottom: 0.5px solid rgba(219, 219, 225, 0.29);
}
.career-li li:hover {
  border-bottom: 0.5px solid #2cbeff;
}
.career-li li:first-child {
  border-top: 0.5px solid rgba(219, 219, 225, 0.99);
}
.career-li li a {
  font-size: 16px;
  line-height: 1.64;
  letter-spacing: 0.4px;
  color: #3f4147;
  display: block;
}
p.cr-intro {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: #3f4147;
  margin-bottom: 20px;
}
.cr-cus-2 {
}
.cr-cus-2 h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.3px;
  color: #152235;
}
.cr-cus-2 ul {
}
.cr-cus-2 ul li {
  font-size: 15px;
  line-height: 1.64;
  letter-spacing: 0.4px;
  color: #1e92c6;
  list-style: disc;
}
.cr-cus-2 ul li span {
  color: #3f4147;
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.4px;
}
.cr-s-left {
  width: 370px;
}
.cr-s-right {
  width: 500px;
  margin-left: 60px;
}
img.cr-icon-mail {
  width: 30px;
  margin-top: -7px;
}
.li-inner-style {
  margin-left: 20px;
}
.li-inner-style li {
  color: #3f4147 !important;
  list-style: none !important;
}
.li-inner-style li::before {content: "- ";}
.margin-b-10 {
  margin-bottom: 0 !important;
}
#toAboutPetuum {
  margin-top: -90px;
}

.navigation {
  position: fixed;
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.06); }
.home-nav .navigation {
  background: #A70303;
  box-shadow: none; }
  .home-nav .nav-toggle span, .home-nav .nav-toggle span:before, .home-nav .nav-toggle span:after {
  background: #ffffff; }
  .home-nav .active span {
  background: none !important; }

.navigation-sub {
  position: fixed;
  background: #ffffff;
  margin-top: 80px;
  height: 38px;
  width: 100%;
  z-index: 900;
  box-shadow: 0 0 2px rgba(0,0,0,0.4); }

.fixed {
  position: fixed;
  background-color: #fbc91f;
  z-index: 999;
  width: 100%; }

.header-content {
  margin: 0 auto;
}
.header-content a {
  font-size: 15px !important;
  height: 80px;
  display: inline-block;
  font-weight: 500;
  color: #152235;
}
.header-content .open a {
  font-size: 15px !important;
  height: 80px;
  display: inline-block;
  font-weight: 500;
  color: #152235;
}
.product-more-li {
  float: right;
}
.product-more-li li {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.3px;
  color: #152235;
  margin-left: 40px;
  padding-bottom: 5px;
}
.product-more-li li:hover {
  border-bottom: 0.5px solid #2cbeff !important;
  padding-bottom: 4px;
}
.product-more-li li:first-child {
  margin-left: 0;
}
.product-more-li li img {
  height: 8px;
  margin-right: 4px;
  margin-top:  -4px;
}
.h-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  color: #152235;
}
p.news-date {
  font-size: 14px;
  color: #8d8d92;
  margin: 10px 0 !important;
}
.news-h-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.25;
  color: #152235;
  margin: 20px 0;
}
a.news-rd {
  display: block;
  float: right;
  margin: 20px 20px 0 0;
}

header {
  position: relative;
  margin: 0;
  width: 100% !important;
}
header a {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}
header a.login {
  margin-right: 20px;
}
header .logo {
  display: inline-block;
}
header .logo img {
  height: 48px;
  margin-top: 16px;
}
header .logo a {
  font-size: 40px;
}
header .logo a span {
  font-size: 16px;
}
header ul.primary-nav {
  padding: 0;
}
header ul.primary-nav li {
  display: inline;
}
header ul.primary-nav li a {
  display: inline-block;
  color: #152235;
  vertical-align: middle;
  padding: 32px 25px;
  letter-spacing: 0.8px;
}
header ul.primary-nav li a:hover {
  background: #f9f9fb;
}
header ul.primary-nav li.menu-active a {
  font-weight: 700;
  border-bottom: 4px solid #1e92c6;
}
header .open ul.primary-nav li a:hover {
  background: none;
}

.home-nav header ul.primary-nav li a {
  color: #ffffff;
}
.home-nav header ul.primary-nav li a:hover {
  background: none;
  border-bottom: 4px solid #ffffff;
}
.home-nav header .open ul.primary-nav li a:hover {
  background: none;
  border-bottom: none;
}

.header-nav {
  float: right;
}

/* ==========================================================================
To top
========================================================================== */
.to-top {
  height: 60px;
  background-color: #495061; }
  .to-top .to-top-wrap {
    height: 60px;
    width: 70px;
    position: absolute;
    right: 0;
    text-align: center; }
    .to-top .to-top-wrap a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.15); }
    .to-top .to-top-wrap a:hover, .to-top .to-top-wrap a:focus {
      background-color: rgba(0, 0, 0, 0.4); }
    .to-top .to-top-wrap i {
      font-size: 30px;
      line-height: 55px; }
  .to-top .row {
    position: relative; }

/* ==========================================================================
Footer
========================================================================== */
footer {
  background-image: linear-gradient(175deg, #152235, #0d4157);
}
footer .footer-menu .col-xs-cus-2 {
  float: left;
  margin-left: 110px;
}
footer .footer-menu .xs-cus-first {
  margin-left: 0;
}
footer .footer-menu ul {
  margin: 40px 0 10px 0;
}
footer .footer-menu ul li.ft-header a {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.12;
  letter-spacing: 0.4px;
  color: #ffffff;
}
footer .footer-menu ul li:first-child {
  margin-bottom: 12px;
}
footer .footer-menu ul li a {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 200;
  letter-spacing: 0.4px;
  color: #8d8d92;
}
footer .footer-menu ul li a:hover {
  color: #B3B3B6;
}
footer .footer-copy {
  padding-bottom: 10px;
}
footer .footer-copy p {
  font-size: 14px;
  line-height: 1.64;
  font-weight: 200;
  letter-spacing: 0.4px;
  color: #fbfbf9;
  float: left;
}
footer .footer-copy ul {
  float: right;
  margin-top: -10px;
}
footer .footer-copy ul li {
  display: inline-block;
  margin-left: 12px;
}
footer .footer-copy ul li img {
  width: 28px;
  margin-top: 5px;
}
footer hr {
  border: none;
  border-top: solid 0.3px #f9f9fb !important;
  opacity: 0.2;
}



.container-white {
  min-height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
}
.breadcrumb-cus {
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
  border-radius: 0;
  padding: 20px;
}
.space-area-20 {
  height: 20px;
}
.space-area {
  height: 27px;
}
.space-area-110 {
  height: 110px;
}


.white-section {
  padding: 40px 0 20px 60px;
  margin-bottom: 29px;
  background-color: #ffffff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
}
.white-section h1 {
  font-size: 30px;
  font-weight: 700;
  color: #152235;
}
.white-section ul {
  margin: 40px 0 0 40px;
}
.white-section ul li {
  list-style-type: circle;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.2;
  color: #152235;
}
.white-section a {
  float: right;
  margin-right: 20px;
}
.panel {
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 0 !important;
}
.panel-default>.panel-heading {
  background-color: none !important;
  border-color: none !important;
}
.panel-heading {
  padding: 0;
}
.panel-heading span {
  cursor: pointer;
}
.panel-body {
  background-color: #f9f9fb;
  width: 100%;
  padding: 0 50px;
  margin-top: -1px;
}
.panel-body h4 {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #152235;
  margin: 32px 0 12px 0;
}
.panel-body p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #152235;
}
.margin-0 {
  margin-top: 0 !important;
}

@media screen and (max-width: 990px) {
  .style-empty {
        margin-bottom: 20px;
    }
    .style-empty li {
        display: inline-block;
        margin-right: 20px;
    }
    .style-2 {
      margin-top: 20px;
    }
}

i {
  margin-left: 15px;
}



@media screen and (max-width: 1200px) {
  .about-bg h1 {
    letter-spacing: 0.8px;
    margin-top: 20px;
  }
  .research-bg h1 {
    font-size: 25px;
    margin-top: 40px;
  }
  .research-bg p {
    font-size: 16px;
  }
  .product-bg h1 {
    margin-top: 70px;
  }
  .about-contact ul li {
    display: block;
    margin-left: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 2.7;
    letter-spacing: 0.6px;
    color: #3f4147;
  }
  .about-contact ul li:first-child {
    margin-left: 0;
  }
  .about-contact ul li.v-l {
    display: none;
  }
  .about-contact ul.sns-li {
    margin-top: 10px;
  }.about-contact p.spe-p {
    line-height: 2.1;
  }
  .team-col {
    margin-right: 34px;
  }
  .clear-space-20-1 {
    display: block;
  }
  .team-section a img.over-plus {
    margin: 234px 23px 0 0;
  }
}

@media screen and (max-width: 992px) {
  .team-col {
    margin-right: 70px;
  }
  .clear-space-20-1 {
    display: none;
  }
  .clear-space-20-2 {
    display: block;
  }
  .team-section p {
    width: 190px;
    margin-left: -14px;
  }
  .team-section a img.over-plus {
    margin: 170px 23px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .container-responsive h1 {
    font-size: 36px;
    margin-top: 60px;
  }
  .container-responsive p {
    font-size: 16px;
  }
  .about-bg h1 {
    font-size: 25px;
    margin-top: 40px;
  }
  .about-bg p {
    font-size: 16px;
  }
  .news-bg h1 {
    font-size: 25px;
  }
  .research-bg h1 {
    font-size: 25px;
    margin-top: 120px;
  }
  .research-bg p {
    display: none;
  }
  .product-bg h1 {
    font-size: 25px;
    margin-top: 80px;
  }
  .careers-bg h1 {
    font-size: 25px;
    margin-top: 80px;
  }
  .careers-bg p {
    font-size: 16px;
  }
  .team-bg h1 {
    font-size: 25px;
    margin-top: 70px;
  }
  .team-bg p {
    margin-top: 16px;
  }
  .modal-content img {
    width: 100%;
  }
  img.cr-icon-mail {
    width: 30px;
  }
  .p-careers-contact {
    font-size: 18px !important;
  }
  .p-careers-contact {
    font-size: 18px !important;
  }
  .team-col {
    margin-right: 80px;
  }
  .team-section p {
    width: 100%;
    margin-left: 0;
  }
  .team-section a img.over-plus {
    display: none !important;
  }
}

@media screen and (max-width: 450px) {
  .container-responsive h1 {
    font-size: 26px;
    margin-top: 60px;
  }
  .about-bg h1 {
    font-size: 22px;
    margin-top: 60px;
  }
  .about-bg p {
    display: none;
  }
  .team-bg h1 {
    font-size: 22px;
    margin-top: 60px;
  }
  .product-bg h1 {
    font-size: 22px;
    margin-top: 60px;
  }
  .research-bg h1 {
    font-size: 22px;
    margin-top: 80px;
  }
  .careers-bg h1 {
    font-size: 22px;
    margin-top: 50px;
  }
  .careers-bg p {
    font-size: 14px;
  }
  header {
    width: 100% !important;
    padding-left: 10px !important;
  }
  .header-content a {
    height: 35px;
  }
  .p-careers-contact {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 375px) {
  .container-responsive h1 {
    font-size: 26px;
    margin-top: 100px;
  }
  .container-responsive p {
    font-size: 18px;
  }
  .about-bg h1 {
    font-size: 20px;
    margin-top: 50px;
  }
  .about-bg p {
    display: none;
  }
  .team-bg h1 {
    font-size: 20px;
    margin-top: 40px;
  }
  .product-bg h1 {
    font-size: 20px;
    margin-top: 29px;
  }
  .research-bg h1 {
    font-size: 20px;
    margin-top: 40px;
  }
  .careers-bg h1 {
    font-size: 20px;
    margin-top: 40px;
  }
  .careers-bg p {
    font-size: 12px;
  }
  header {
    width: 100% !important;
    padding-left: 10px !important;
  }
  .header-content a {
    height: 35px;
  }
  .p-careers-contact {
    font-size: 16px !important;
  }
}

/*customized css*/

/*customized css for button*/
.readmore {
    background: transparent;
    /*border-color:#ffffff;*/
    /*border-width: : 1px;*/
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.readmore:hover {
    background-color: #ffffff;
    color: #192844;
}

/*media*/

.webkit-render {
  image-rendering: auto;

}

.video-container {
  margin: 20px 0;
}

.video-container video {
    padding: 20px 0;
    max-width:60%;

    position: relative;
    transform: translateX(30%);

}

@media screen and (max-width: 480px) {
    .video-container video {
      max-width:90%;

      position: relative;
      transform: translateX(5%);
    }
}

.image-text{
  padding:25px 10px;
}

.image-text .ti-text{
  padding-bottom: 15px;
}
